* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #efefef;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    background-color: beige;
    color: black;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 8px 15px 2px black;

    .designation {
        border-bottom: 2px solid black;
    }
    .description {
        padding-top: 10px;
    }
}
.main {
    background-color: white;
    .main_content {
        h2 {
            border-bottom: 2px solid black;
            padding-top: 1em;
            padding-left: .5em;
        }
        .p {
            padding-left: .5em;
            padding-top: .4em;
        }
    }
    padding-bottom: 10px;
}

.footer {
    background-color: beige;
    padding: 1em;
    text-align: center;
}
@media (max-device-width: 800px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .main_content {
        padding-left: 2%;
    }
}

// Nav Btn Links
.btn-links {
    cursor: pointer;
    position: fixed;
    top: 85vh;
    border-radius: 50%;
    background-color: #FFF176;
    height: 30px;
    width: 30px;
    right: 60px;
    padding: 10px;
    text-align: center;
    line-height: 28px;
}

.nav-links {
    cursor: pointer;
    position: fixed;
    right: 12px;
    top: 65vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff176;
    border-radius: 10px;
    width: 126px;
    text-align: center;
    height: 100px;
    padding: 10px;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.download-button {
    font-weight: 900;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
}
.d-flex {
    display: flex;
}
.p-1 {
    padding: 10px;
}
.plx-1 { 
    padding-left: 10px;
}

.border-bottom {
    border-bottom: 1px solid black;
}